
#obertka{
	position:absolute;
	height:1500px;
	width:100%;
	border:1px solid black;
	top:10px;
	left:0px;
	
	
	
}

#header{
	position:absolute;
	height:80px;
	width:100%;
	border:1px solid black;
	text-align: center;
	background-color:#181C1F;
	
}



#obertkaBar{
	position:absolute;
	border:3px solid black;
	width:30%;
	top:140px;
	right:40px;
	
}
#bar{
	border:1px solid black;
	width:80%;
	height:400px;
	margin:10px auto;
}

#chat{
	border:1px solid red;
	width:80%;
	height:400px;
	margin:10px auto;
}


#content{
	position:absolute;
	border:1px solid black;
	width:60%;
	height:80%;
	top:140px;
	left:40px;
}




#footer{
	border:2px solid black;
	position:absolute;
	bottom:0px;
	height:70px;
	width:100%;
}
