#bar{
	width:300px;
	height:700px;
	border:5px solid black;
	left:450px;
	background-color:#222629;
	
}
.pup {
	
	position:relative;
	width:245px;
	height:55px;
	left:25px;
	top:50px;
	display:block;
	float:left;
	transition: 1s ease;
	background-color:#222629;
	font-size:22px;
	color:white;
	cursor: pointer;
	
}
.text{
	position:relative;
	color:white;
	font-size:18px;
	left:45px;
}